<% include header %>

  <h1><%-title %></h1>
  <p>Welcome to <%-title %></p>

  <div>
    <input id="u" autocomplte="off">/<input id="m" autocomplete="off" /><button id="b">Send</button>&nbsp;<button id="s">Search</button>
  </div>
  <div>
    <textarea id="r" style="height:300px; width:400px">受信メッセージ</textarea>
  </div>

<script>
  var socket = io();

  $('#b').click(function(){
    var body = $('#u').val() + "\t" + $('#m').val() ;
    socket.emit('message',body) ;
    $('#m').val('') ;
    return false ;
  }) ;

  $('#s').click(function(){
    var who = $('#u').val() ;
    socket.emit('search',who) ;
    return false ;
  }) ;

  socket.on('message',function(msg){
    console.debug('message:' + msg) ;
    var r = $('#r').val() ;
    $('#r').val(r + "\n" + msg) ;
  }) ;

</script>


<% include footer %>
